* {
    margin: 0;
    padding: 0;
}
body {
    justify-content: center;
    background: rgb(15, 12, 12);
}
.box {
    width: 300px;
    height: 400px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.box::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent,
    transparent,transparent, #38ff06);
    animation: lineMovement 4s linear infinite;
    animation-delay: -2s;
}
.box::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent,
    transparent,transparent, #00ccff);
    animation: lineMovement 4s linear infinite;
}
@keyframes lineMovement {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.box span {
    position: absolute;
    inset: 5px;
    border-radius: 16px;
    background: #0c1022;
    z-index: 1;
}
.box .cube {
    width: 100px;
    height: 100px;
    background: #00ccff;
    position: relative;
    animation: cubeMove 1.4s infinite;
    z-index: 5;
}
@keyframes cubeMove {
    50%   {background: rgb(2, 255, 2);}
    100% 	{background: #00ccff;}
}